aiosignal==1.2.0
async-timeout==4.0.2
attrs==21.4.0
beautifulsoup4==4.10.0
Brotli==1.0.9
certifi==2022.12.7
cffi==1.15.0
charset-normalizer==2.0.12
click==8.1.0
cssselect2==0.6.0
Deprecated==1.2.13
distlib==0.3.4
filelock==3.6.0
fonttools==4.33.3
frozenlist==1.3.0
grpcio==1.43.0
html5lib==1.1
idna==3.3
importlib-resources==5.7.1
jsonschema==4.4.0
lxml==4.9.1
msgpack==1.0.3
numpy==1.22.3
packaging==21.3
pdfkit==1.0.0
Pillow==9.3.0
platformdirs==2.5.2
protobuf==3.19.4
pycparser==2.21
pydyf==0.1.2
pyparsing==3.0.7
pyphen==0.12.0
pyrsistent==0.18.1
PyYAML==6.0
ray==1.11.0
redis==4.2.0
requests==2.27.1
six==1.16.0
soupsieve==2.3.1
tinycss2==1.1.1
typing_extensions==4.1.1
urllib3==1.26.9
virtualenv==20.14.1
weasyprint==55.0
webencodings==0.5.1
wrapt==1.14.0
zipp==3.8.0
zopfli==0.2.1
xhtml2pdf~=0.2.7