async-timeout==4.0.2
attrs==21.4.0
beautifulsoup4==4.10.0
click==8.1.0
Deprecated==1.2.13
filelock==3.6.0
grpcio==1.43.0
jsonschema==4.4.0
lxml==4.8.0
msgpack==1.0.3
numpy==1.22.3
packaging==21.3
pdfkit==1.0.0
protobuf==3.19.4
pyparsing==3.0.7
pyrsistent==0.18.1
PyYAML==6.0
ray==1.11.0
redis==4.2.0
six==1.16.0
soupsieve==2.3.1
typing_extensions==4.1.1
wrapt==1.14.0
